.spinner {
  width: 100%;
  height: 100vh;
  position: absolute;
  background: inherit;
  left: 0;
  top: 0;
  z-index: 1002;
}

.spinner__content {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  position: relative;
  background: #fff;
  filter: contrast(20);
  overflow: hidden;
}

.spinner__circle {
  width: 43px;
  height: 43px;
  border-radius: 50%;
  position: absolute;
  background-color: var(--theme-color-primary-01);
  margin: auto;
  z-index: 2;
  filter: blur(5px);
}

.spinner__dot:nth-child(1) {
  animation: dot-rotate-1 5s 0s ease infinite;
}
.spinner__dot:nth-child(2) {
  animation: dot-rotate-2 5s 1.25s ease infinite;
}
.spinner__dot:nth-child(3) {
  animation: dot-rotate-3 5s 2.5s ease infinite;
}

.spinner__dot:nth-child(4) {
  animation: dot-rotate-4 5s 3.75s ease infinite;
}

.spinner__dot::before {
  content: '';
  border-radius: 50%;
  background-color: var(--theme-color-primary-01);
  width: 22px;
  height: 22px;
  position: absolute;
  top: calc(50% - 12.5px);
  left: calc(50% - 12.5px);
  z-index: 1;
  filter: blur(6px);
}

.spinner__dot:nth-child(1):before {
  animation: dot-move 5s 0s ease infinite;
}
.spinner__dot:nth-child(2)::before {
  animation: dot-move 5s 1.25s ease infinite;
}
.spinner__dot:nth-child(3)::before {
  animation: dot-move 5s 2.5s ease infinite;
}

.spinner__dot:nth-child(4)::before {
  animation: dot-move 5s 3.75s ease infinite;
}

.loader-logo {
  position: absolute;
  fill: #fff;
  z-index: 3;
  height: 22px;
  width: 22px;
}

@keyframes dot-move {
  0% {
    transform: translateY(0);
  }
  18%,
  22% {
    transform: translateY(-45px);
  }
  40%,
  100% {
    transform: translateY(0);
  }
}

@keyframes dot-rotate-1 {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(180deg);
  }
}
@keyframes dot-rotate-2 {
  0% {
    transform: rotate(270deg);
  }
  100% {
    transform: rotate(450deg);
  }
}
@keyframes dot-rotate-3 {
  0% {
    transform: rotate(180deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes dot-rotate-4 {
  0% {
    transform: rotate(90deg);
  }
  100% {
    transform: rotate(270deg);
  }
}
